- hosts: k8s_cluster
  become: true
  any_errors_fatal: true
  roles:
    - role: freehck.k8s
      tags:
        - k8s

- hosts: kube1
  become: true
  vars:
    - k8s_namespace: "postgres"
    - zalando_postgresql_cluster_name: "acid-postgres"
    - zalando_postgresql_user: "zuzer"
    - zalando_postgresql_database: "zuzerdb"
    - zalando_postgresql_storage_class: "local-path"
  roles:
    - role: k8s-namespace
    - role: k8s-rancher-local-path-provisioner
    - role: k8s-zalando-postgres-operator
    - role: k8s-zalando-postgres-cluster
